/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* for all */
body {
  font-family: 'Roboto', sans-serif;
}
img {
  display: block;
}
.bold {
  font-weight: bold;
}
.black {
  font-weight: black;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.text-align-center {
  text-align: center;
}
.h1-title {
  font-size: 80px;
  line-height: 94px;
}
.h2-title {
  font-size: 64px;
  line-height: 75px;
  text-align: center;
}
.fz-20 {
  font-size: 20px;
}
.fz-24 {
  font-size: 24px;
}
.lh-30 {
  line-height: 30px;
}
.lh-36 {
  line-height: 36px;
}
.lh-42 {
  line-height: 42px;
}
.mr-8 {
  margin-right: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-56 {
  margin-bottom: 56px;
}
.mb-64 {
  margin-bottom: 64px;
}
.mb-68 {
  margin-bottom: 68px;
}
.zoom:hover {
  transform: scale(1.1)
}
/* banner */
.banner {
  height: 958px;
  background-size: cover;
  background-position: center;
  background-image: url(https://raw.githubusercontent.com/weberyanglalala/2020LiveCourse/master/Week02_assignment/Week02_Web-Material-Design/photo-1552393700-42696fb89bfa.png);
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro {
  color: #FFFFFF;
  width: 304px;
}
.social-media {
  display: flex;
}

/* About */
.avatar {
  margin-left: auto;
  margin-right: auto;
}

.job {
  width: 384px;
  /* outline: 2px solid tomato; */
  padding: 32px 0px 56px 0px;
  border-top: 1px solid #000;
}
.dot {
  height: 20px;
  width: 20px;
  background-color: #891818;
  border-radius: 50%;
  display: inline-block;
  margin-right: 16px;
}
.job li {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* my brand */
.brand {
  background-color: #000000;
  color: #FFFFFF;
  padding: 64px 0px 120px 0px;
  text-align: center;
}
.brand-item {
  /* outline: 2px solid tomato; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item-pic {
  margin-bottom: 40px;
  max-width: 100%;
}
/* other works */
.otherWorks {
  padding: 64px 0px 160px 0px;
}
.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Contact */
.contact {
  color: #FFFFFF;
  background-color: #000000;
  padding: 64px 0 80px 0px;
}

.contact-info a {
  text-decoration: none;
  color: #FFFFFF;
}
.contact-info a:hover {
  color:#cab7b7;
}